<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com--><!-- Last Published: Tue Oct 01 2013 21:38:28 GMT+0000 (UTC) -->
<html data-wf-site="521425b27eb9fd00600007f4">
  <head>
    <meta charset="utf-8">
    <title>mealwalla</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/webflow.css">
    <link rel="stylesheet" type="text/css" href="css/mealwalla.webflow.css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ["Montserrat:400,700","Bitter:400,700","Varela Round:400"]
        }
      });
    </script>
    <link rel="icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
    <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51d1bb05fc804b2621000001/webclip-slate.png">
    <script type="text/javascript" src="js/webflow.js" defer></script>
  </head><body>
  <header class="section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4 subfooter-left">
          <div class="app-name">Mealwalla</div>
        </div>
        <div class="w-col w-col-8 nav-column"><a class="nav-link" href="#page-nav-share" target="_self">Home</a><a class="nav-link" href="#page-nav-display" target="_self">About</a>
        </div>
      </div>
    </div>
  </header>
  <div class="section hero">
    <div class="w-row">
      <div class="w-col w-col-6"></div>
      <div class="w-col w-col-6 call-to-action">
        <h1 class="hero-header">Lunch, delivered.</h1>
        <p class="hero-subtitle">Your favorite lunch options delivered at noon.</p><a class="button" href="#">get started!</a>
      </div>
    </div>
    <div class="w-container"></div>
  </div>
  <div class="w-clearfix section white" id="page-nav-organize">
    <div class="w-container">
      <div class="w-row organize-row">
        <div class="w-col w-col-6">
          <h2>Step 1: order online from one of our partner restaurants</h2>
          <p>Place the order in by 11 am for same-day delivery, or order at night for tomorrow. So easy, you can do it from your phone in seconds!</p>
        </div>
        <div class="w-col w-col-6 center">
          <img src="assets/chipotle.gif" width="235" alt="chipotle.gif">
          <img src="assets/panera3.png" width="181" alt="panera3.png">
          <img src="assets/pret.jpeg" width="165" alt="pret.jpeg">
        </div>
      </div>
    </div>
  </div>
  <div class="section grey" id="page-nav-display">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6 center">
          <img src="assets/noonish.svg" width="161" alt="noonish.svg">
        </div>
        <div class="w-col w-col-6">
          <h2>Step 2: pick up your food in the Kellogg Atrium a few minutes after noon</h2>
          <p>Pay online via Paypal or credit card, pick up from Jacobs Atrium at noon by G03. Look for the guy in the yellow shirt! Oh yeah, no need to tip.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="page-nav-share">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <p></p>
          <h2>Step 3: refer your friends and get free meals!</h2>
        </div>
        <div class="w-col w-col-6 center">
          <img src="assets/friends.svg" width="250" alt="friends.svg">
        </div>
      </div>
    </div>
  </div>
  <div class="section purple">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-8">
          <h2 class="price-text">Get started with your order now!</h2>
        </div>
        <div class="w-col w-col-4"><a class="button" href="#">get started!</a>
        </div>
      </div>
    </div>
  </div>
  <div class="section subfooter white"></div>
  <div class="section grey footer">
    <div class="w-container">
      <p class="footer-text">Created with love in 2013 by Kellogg grads sick of Cafe K.</p>
    </div>
  </div>
</body>
</html>