

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Lora:400,700|Raleway:400,500' rel='stylesheet' type='text/css'>
</head>

<body>


  <div class="col-md-12">
    <div class="lilwhitestrip">
      <h1 class="logo">mealwalla</h1>
    </div>
  </div>

    <div class="jumbotron">
      <h1>Lunch, delivered.</h1>
      <h3>Better lunch options delivered to Kellogg.</h3>
      <p><a class="btn btn-primary btn-lg">Order now!</a></p>
    </div>

    <div class="bigwhitestrip col-md-12">
      <div class="col-md-6">
        <h2 class="centered">Step 1: Order on your computer or phone.</br></br><small>Order by 11am at one of our partner restaurants, pay online via paypal or credit card.</small></h2>
      </div>
      <div class="col-md-6">
        <img src="logos.png" class="responsive">
      </div>
    </div>

    <div class="bluestrip col-md-12">
      <div class="col-md-6">
        <img src="noonish.svg" id="clock" class="responsive">
      </div>
      <div class="col-md-6">
      <h2>Step 2: Pick up your food from Jacobs at noon.</br></br><small> We'll bring your food to the Atrium by G03. No need to tip.</small></h2>
      </div>
    </div>

    <div class="bigwhitestrip col-md-12">
      <div class="col-md-6">
        <h2>Step 3: Tell your friends, get hooked up. </br></br><small>Refer a friend and you'll each get free delivery on your next meal. Everybody wins.</small></h2>
      </div>
      <div class="col-md-6">
        <img src="friends.svg" id="friends" class="responsive">
      </div>
    </div>

     <div class="purplestrip">
      <h2 class=>It's that easy. What are you waiting for?<a class="btn btn-primary btn-lg rightside">Order now!</a></h2>

    </div>

     <div class="lilwhitestrip">
      <h1>Brought to you by Kellogg '13 grads tired of Cafe K.</h1>
    </div>



</body>
